@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Tapestry&family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: rgb(88, 190, 73);
   
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu';
    font-style: inherit;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 84px;
    padding: 0 8px;
    border-radius: 90px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 68vh;
    background-color: rgb(18, 18, 17);
    color: white;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 24px;
    background-image: url('bg13.jpg');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 45px;
}
.songItem{
    height: 43px;
    display: flex;
    background-color: grey;
    width: 100%;
    margin: 12px  0px;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}
.songItem img{
    width: 35px;
    margin: 23px;
    border-radius: 19px; 
}
.timestamp{
    margin: 0 23px;
   padding: 22px ;
  
}
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
  
    right: 14.6vw;
    bottom: 375px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.songInfo img{
    border-radius: 130px;
    opacity: 0;
    width: 112px;
    transition: opacity 0.3s ease-in;
}

.songItemPlay1{
    cursor: pointer;
}


